In [41]:
import pandas as pd
import numpy as np

In [34]:
df =  pd.read_excel("BASE DE CONTRATADOS 2019 28-10-2019.xlsx")
df.columns
fincon = [df[x] for x in df.columns if x.startswith("FINALIZACIÓN DE CONTRATO")]
fincon

[0      2019-04-01
 1      2019-04-01
 2      2019-04-01
 3      2019-04-01
 4      2019-04-01
           ...
 1493   2019-11-27
 1494   2019-11-27
 1495   2019-11-27
 1496   2019-11-27
 1497   2019-11-25
 Name: FINALIZACIÓN DE CONTRATO, Length: 1498, dtype: datetime64[ns],
 0                     43687
 1                       NaN
 2                       NaN
 3                       NaN
 4       2019-09-21 00:00:00
                ...
 1493                    NaN
 1494                    NaN
 1495                    NaN
 1496                    NaN
 1497                    NaN
 Name: FINALIZACIÓN DE CONTRATO 2, Length: 1498, dtype: object,
 0             NaT
 1             NaT
 2             NaT
 3             NaT
 4      2019-11-03
           ...
 1493          NaT
 1494          NaT
 1495          NaT
 1496          NaT
 1497          NaT
 Name: FINALIZACIÓN DE CONTRATO , Length: 1498, dtype: datetime64[ns],
 0      NaT
 1      NaT
 2      NaT
 3      NaT
 4      NaT
         ..
 1493   NaT
 1494   NaT
 1495   NaT
 1496   NaT
 1497   NaT
 Name: FINALIZACIÓN DE CONTRATO .1, Length: 1498, dtype: datetime64[ns],
 0      NaT
 1      NaT
 2      NaT
 3      NaT
 4      NaT
         ..
 1493   NaT
 1494   NaT
 1495   NaT
 1496   NaT
 1497   NaT
 Name: FINALIZACIÓN DE CONTRATO .2, Length: 1498, dtype: datetime64[ns],
 0      NaT
 1      NaT
 2      NaT
 3      NaT
 4      NaT
         ..
 1493   NaT
 1494   NaT
 1495   NaT
 1496   NaT
 1497   NaT
 Name: FINALIZACIÓN DE CONTRATO .3, Length: 1498, dtype: datetime64[ns],
 0      NaT
 1      NaT
 2      NaT
 3      NaT
 4      NaT
         ..
 1493   NaT
 1494   NaT
 1495   NaT
 1496   NaT
 1497   NaT
 Name: FINALIZACIÓN DE CONTRATO .4, Length: 1498, dtype: datetime64[ns],
 0      NaT
 1      NaT
 2      NaT
 3      NaT
 4      NaT
         ..
 1493   NaT
 1494   NaT
 1495   NaT
 1496   NaT
 1497   NaT
 Name: FINALIZACIÓN DE CONTRATO .5, Length: 1498, dtype: datetime64[ns]]

In [54]:
type(df['FINALIZACIÓN DE CONTRATO'].max())

pandas._libs.tslibs.timestamps.Timestamp

In [53]:
type(df['FINALIZACIÓN DE CONTRATO'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [59]:
def get_last(row):
    data = [row[x] for x in df.columns if x.startswith("FINALIZACIÓN DE CONTRATO")]
    data = data[::-1]
    #print(data)
    for x in data:
        if x != np.nan and not pd.isnull(x):
            return x
df['FINALIZACION_ULTIMO_CONTRATO'] = df.apply(get_last, axis = 1)
df

,#,FECHA RECIBIDO CONTRATO,OBSERVACION,PRIMER APELLIDO,SEGUNDO APELLIDO,PRIMER NOMBRE,SEGUNDO NOMBRE,TIPO DE\n DOC,NÚMERO DE DOCUMENTO,FECHA DE NACIMIENTO,...,CÓDIGO CONTRATO .4,FECHA RECIBIDO CONTRATO .6,RENOVACIÓN CONTRATOS .6,COORDINADORA.7,NOMBRE DEL PROYECTO.7,FECHA INICIO DE CONTRATO .5,FINALIZACIÓN DE CONTRATO .5,last,FINALIZACION ULTIMO CONTRATO,FINALIZACION_ULTIMO_CONTRATO
0,1.0,NaT,NaN,MOYANO,OSSA,JULIAN,ANDRES,C.C,79886808,1997-10-22 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,43687,43687,43687
1,2.0,NaT,NaN,MUÑOZ,SALAZAR,BLEIDY,YESENIA,C.C,1023903398,1990-12-22 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-04-01 00:00:00,2019-04-01 00:00:00,2019-04-01 00:00:00
2,3.0,NaT,NaN,MORENO,AHAMEZ,ANGIE,CAROLINA,C.C,1013679229,1998-01-24 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-04-01 00:00:00,2019-04-01 00:00:00,2019-04-01 00:00:00
3,4.0,NaT,NaN,RUEDA,PEREZ,MARIA,ALEJANDRA,C.C,1022423243,1996-10-11 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-04-01 00:00:00,2019-04-01 00:00:00,2019-04-01 00:00:00
4,5.0,NaT,NaN,ORTIZ,FONSECA,CAROLINA,-,C.C,51934488,1969-02-26 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-11-03 00:00:00,2019-11-03 00:00:00,2019-11-03 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1493,1495.0,2019-10-28,NaN,ARANDA,ALZATE,ERICA,YERALDIN,CC,1030602461,1991-11-02 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-11-27 00:00:00,2019-11-27 00:00:00,2019-11-27 00:00:00
1494,1496.0,2019-10-28,NaN,ANGEL,ANGEL,JHON,JAIRO,CC,1014199324,1989-04-07 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-11-27 00:00:00,2019-11-27 00:00:00,2019-11-27 00:00:00
1495,1497.0,2019-10-28,NaN,RODRIGUEZ,CAMACHO,CARLOS,EDUARDO,CC,1016109707,1999-04-24 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-11-27 00:00:00,2019-11-27 00:00:00,2019-11-27 00:00:00
1496,1498.0,2019-10-28,NaN,MARTINEZ,NaN,CLAUDIA,SHIRLEY,CC,39678430,1980-09-06 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-11-27 00:00:00,2019-11-27 00:00:00,2019-11-27 00:00:00
1497,NaN,NaT,NaN,SANCHEZ,CALDUCHO,MARIO,EDGAR,CC,79643088,1973-02-02 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-11-25 00:00:00,2019-11-25 00:00:00,2019-11-25 00:00:00

In [65]:
df['FINALIZACION_ULTIMO_CONTRATO'] = pd.to_datetime(df['FINALIZACION_ULTIMO_CONTRATO'], errors='coerce')
good_data = df[df['FINALIZACION_ULTIMO_CONTRATO'].notnull()]
good_data

,#,FECHA RECIBIDO CONTRATO,OBSERVACION,PRIMER APELLIDO,SEGUNDO APELLIDO,PRIMER NOMBRE,SEGUNDO NOMBRE,TIPO DE\n DOC,NÚMERO DE DOCUMENTO,FECHA DE NACIMIENTO,...,CÓDIGO CONTRATO .4,FECHA RECIBIDO CONTRATO .6,RENOVACIÓN CONTRATOS .6,COORDINADORA.7,NOMBRE DEL PROYECTO.7,FECHA INICIO DE CONTRATO .5,FINALIZACIÓN DE CONTRATO .5,last,FINALIZACION ULTIMO CONTRATO,FINALIZACION_ULTIMO_CONTRATO
1,2.0,NaT,NaN,MUÑOZ,SALAZAR,BLEIDY,YESENIA,C.C,1023903398,1990-12-22 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-04-01 00:00:00,2019-04-01 00:00:00,2019-04-01
2,3.0,NaT,NaN,MORENO,AHAMEZ,ANGIE,CAROLINA,C.C,1013679229,1998-01-24 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-04-01 00:00:00,2019-04-01 00:00:00,2019-04-01
3,4.0,NaT,NaN,RUEDA,PEREZ,MARIA,ALEJANDRA,C.C,1022423243,1996-10-11 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-04-01 00:00:00,2019-04-01 00:00:00,2019-04-01
4,5.0,NaT,NaN,ORTIZ,FONSECA,CAROLINA,-,C.C,51934488,1969-02-26 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-11-03 00:00:00,2019-11-03 00:00:00,2019-11-03
5,6.0,NaT,NaN,ROJAS,BARRAGAN,ERIKA,JANETH,C.C,1013645145,1993-09-04 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-04-01 00:00:00,2019-04-01 00:00:00,2019-04-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1493,1495.0,2019-10-28,NaN,ARANDA,ALZATE,ERICA,YERALDIN,CC,1030602461,1991-11-02 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-11-27 00:00:00,2019-11-27 00:00:00,2019-11-27
1494,1496.0,2019-10-28,NaN,ANGEL,ANGEL,JHON,JAIRO,CC,1014199324,1989-04-07 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-11-27 00:00:00,2019-11-27 00:00:00,2019-11-27
1495,1497.0,2019-10-28,NaN,RODRIGUEZ,CAMACHO,CARLOS,EDUARDO,CC,1016109707,1999-04-24 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-11-27 00:00:00,2019-11-27 00:00:00,2019-11-27
1496,1498.0,2019-10-28,NaN,MARTINEZ,NaN,CLAUDIA,SHIRLEY,CC,39678430,1980-09-06 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-11-27 00:00:00,2019-11-27 00:00:00,2019-11-27
1497,NaN,NaT,NaN,SANCHEZ,CALDUCHO,MARIO,EDGAR,CC,79643088,1973-02-02 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-11-25 00:00:00,2019-11-25 00:00:00,2019-11-25

In [68]:
bad_data = df[df['FINALIZACION_ULTIMO_CONTRATO'].isnull()]
bad_data

,#,FECHA RECIBIDO CONTRATO,OBSERVACION,PRIMER APELLIDO,SEGUNDO APELLIDO,PRIMER NOMBRE,SEGUNDO NOMBRE,TIPO DE\n DOC,NÚMERO DE DOCUMENTO,FECHA DE NACIMIENTO,...,CÓDIGO CONTRATO .4,FECHA RECIBIDO CONTRATO .6,RENOVACIÓN CONTRATOS .6,COORDINADORA.7,NOMBRE DEL PROYECTO.7,FECHA INICIO DE CONTRATO .5,FINALIZACIÓN DE CONTRATO .5,last,FINALIZACION ULTIMO CONTRATO,FINALIZACION_ULTIMO_CONTRATO
0,1.0,NaT,NaN,MOYANO,OSSA,JULIAN,ANDRES,C.C,79886808,1997-10-22 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,43687,43687,NaT

In [78]:
import datetime

today = pd.Timestamp(datetime.date.today())
date_before = datetime.date.today() + datetime.timedelta(days=7)
date_before = pd.Timestamp(date_before)

soon = good_data[good_data['FINALIZACION_ULTIMO_CONTRATO'].between(today,date_before)]
soon

,#,FECHA RECIBIDO CONTRATO,OBSERVACION,PRIMER APELLIDO,SEGUNDO APELLIDO,PRIMER NOMBRE,SEGUNDO NOMBRE,TIPO DE\n DOC,NÚMERO DE DOCUMENTO,FECHA DE NACIMIENTO,...,CÓDIGO CONTRATO .4,FECHA RECIBIDO CONTRATO .6,RENOVACIÓN CONTRATOS .6,COORDINADORA.7,NOMBRE DEL PROYECTO.7,FECHA INICIO DE CONTRATO .5,FINALIZACIÓN DE CONTRATO .5,last,FINALIZACION ULTIMO CONTRATO,FINALIZACION_ULTIMO_CONTRATO
4,5.0,NaT,NaN,ORTIZ,FONSECA,CAROLINA,-,C.C,51934488,1969-02-26 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-11-03 00:00:00,2019-11-03 00:00:00,2019-11-03
49,50.0,NaT,NaN,CASTILLO,CASTILLO,JAIRO,-,C.C,19209793,1953-05-18 00:00:00,...,NaN,NaN,2019-09-30,JOHANNA ARAUCA,CAMACOL,2019-10-03,2019-11-02,2019-11-02 00:00:00,2019-11-02 00:00:00,2019-11-02
66,67.0,NaT,NaN,RODRIGUEZ,ROMERO,JHON,ALEXANDER,C.C,1019054093,1990-11-27 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-11-02 00:00:00,2019-11-02 00:00:00,2019-11-02
77,78.0,NaT,NaN,PEREZ,FERNANDEZ,OLGA,VIRGINIA,C.C,51800902,1964-10-26 00:00:00,...,NaN,NaN,2019-10-04,ANA MARIA GARCIA,CAMPO OBSERVATORIO,2019-10-05,2019-11-04,2019-11-04 00:00:00,2019-11-04 00:00:00,2019-11-04
109,110.0,NaT,NaN,LOPEZ,MORENO,DIANA,PATRICIA,CC,24219401,1983-01-08 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-11-03 00:00:00,2019-11-03 00:00:00,2019-11-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1323,1325.0,NaT,NaN,CABALLERO,VELASCO,CAMILA,ANDREA,CC,1073713114,1997-11-25 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-10-31 00:00:00,2019-10-31 00:00:00,2019-10-31
1324,1326.0,NaT,NaN,ALFONSO,GUACARAPARE,YESICA,ANDREA,CC,1117325568,1996-08-10 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-10-31 00:00:00,2019-10-31 00:00:00,2019-10-31
1402,1404.0,NaT,NaN,CARDOVEZ,CORDOBA,CARLOS,ENRIQUE,CC,79703591,1975-06-14 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-11-05 00:00:00,2019-11-05 00:00:00,2019-11-05
1452,1454.0,NaT,NaN,SANABRIA,AVILA,LEIDY,CAROLINA,CC,1024466402,1986-09-09 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-11-02 00:00:00,2019-11-02 00:00:00,2019-11-02
1453,1455.0,NaT,NaN,PEÑA,SALGADO,MARTHA,ISABEL,CC,1064984413,1987-09-20 00:00:00,...,NaN,NaN,NaT,NaN,NaN,NaT,NaT,2019-11-02 00:00:00,2019-11-02 00:00:00,2019-11-02